USE [master]
GO
/****** Object:  Database [agentappdb]    Script Date: 6/26/2021 2:39:37 PM ******/
CREATE DATABASE [agentappdb]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [agentappdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [agentappdb]
GO
USE [agentappdb]
GO
/****** Object:  Table [dbo].[RegisteredUser]    Script Date: 6/26/2021 2:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisteredUser](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[date_of_birth] [datetime2](7) NULL,
	[phone_number] [nvarchar](15) NULL,
	[gender] [nvarchar](6) NULL,
	[website_address] [nvarchar](250) NULL,
	[bio] [nvarchar](250) NULL,
	[type] [nvarchar](20) NOT NULL,
	[password] [nvarchar](256) NOT NULL,
	[profilePicturePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_RegisteredUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 6/26/2021 2:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[item_image_path] [nvarchar](200) NOT NULL,	
	[price] [float] NOT NULL,
	[available_count] [int] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
